@tailwind base;
@tailwind components;
@tailwind utilities;



.boxNews {
  border-radius: 20px;
  background: #022082;
  color: rgb(90, 207, 0);
  box-shadow: 5px 5px 10px #d0d0d0, -5px -5px 10px #f0f0f0;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000000;
  border-color: #c40d0d transparent #e51414 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

