@tailwind base;
@tailwind components;
@tailwind utilities;





/* template tabs section custom css  */
ul.react-tabs__tab-list {
    display: flex;
    gap: 50px;
    font-weight: bold;
    margin-bottom: 30px;

}

ul.react-tabs__tab-list li {
    border: 1px solid rgb(207, 207, 207);
    padding: 5px 40px;


}
/* mui tabs section custom css  */
.MuiTabs-flexContainer.css-heg063-MuiTabs-flexContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.css-1gsv261 {
    border-bottom: none;
    border-color: rgba(0, 0, 0, 0.12);
}
button.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.Mui-selected.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    background-color: #F7C55F;
    font-weight: bold;
    color: black;
}