.tab-content {
    opacity: 0;
    visibility: hidden;
    height: 0;
    width:100%;
    overflow: hidden;
    transition: opacity 0.3s, visibility 0.3s, height 0.3s;
  }
  
  .tab-content.active {
    opacity: 1;
    visibility: visible;
    height: auto;
    width:100%;
  }