
  
  /* mui tabs section custom css  */
  .MuiTabs-flexContainer.css-heg063-MuiTabs-flexContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .css-1gsv261 {
    border: none;
    border-color: rgba(0, 0, 0, 0.12);
    margin-bottom: 20px;
  }
  
  button.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.Mui-selected.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    background-color: #f7c55f;
    font-weight: bold;
    color: black;
  }